body{
    transition: background-color 0.10;
    text-align: center;
    background-color: #e100ff;
}
.botao-muda-cor{
    border-radius:100px ;
    
}
.botao-muda-cor{
    padding: 30px;
}
.botao-muda-cor:hover {
    background-color: #ffe600;
}
.cor-alterada{
    background-color:rgb(9, 255, 0);
}